{% load i18n static square_admin_template_tags %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
{#<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">#}
{% block extrastyle %}{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
{% block extrahead %}{% endblock %}
{% block responsive %}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
{% endblock %}
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/bootstrap.min.css' %}" />

  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/main.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/color_skins.css' %}" />
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>
{% load i18n %}

<body class="theme-cyan {% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">
<div class="page-loader-wrapper">
  <div class="loader">
    <div class="m-t-30">
      <img class="zmdi-hc-spin" src="{% static "square_admin/img/logo.svg" %}" width="48" height="48" alt="logo">
    </div>
    <p>Please wait...</p>
  </div>
</div>
<!-- Container -->
<div id="container">

  {% if has_permission %}
    {% if not is_popup %}

      <nav class="navbar">
        <ul class="nav navbar-nav navbar-left">
          <li>
            <div class="navbar-header">
              <a href="javascript:void(0);" class="bars"></a>
              <a class="navbar-brand" href="{% url 'admin:index' %}">
                <img src="{% static "square_admin/img/logo-white.svg" %}" width="30" alt="{{ site_header|default:_('Django administration') }}">
                <span class="m-l-10">{{ site_header|default:_('Django administration') }}</span></a>
            </div>
          </li>
          <li class="float-right">
            <a href="javascript:void(0);" class="fullscreen hidden-md-down hidden-sm-down" data-provide="fullscreen"><i class="zmdi zmdi-fullscreen"></i></a>
            <a href="javascript:void(0);" class="js-right-chat"><i class="zmdi zmdi-comments"></i></a>
            <a href="javascript:void(0);" class="js-right-sidebar"><i class="zmdi zmdi-settings"></i></a>
            <a href="javascript:void(0);" class="btn_overlay hidden-sm-down"><i class="zmdi zmdi-sort-amount-desc"></i></a>
            <a href="{% url 'admin:logout' %}" class="mega-menu" title="{% trans 'Log out' %}"><i class="zmdi zmdi-power"></i></a>
          </li>
        </ul>
      </nav>

      <aside id="leftsidebar" class="sidebar">
        <div class="menu">
          <ul class="list">
            <li>
              <div class="user-info m-b-20">
                <div class="image"><a href="#"><img src="{% static "square_admin/img/profile_av.jpg" %}" alt="User"></a></div>
                <div class="detail">
                  <h4>{% firstof user.get_short_name user.get_username %}</h4>
                  {% if user.has_usable_password %}
                    <a href="{% url 'admin:password_change' %}" title="{% trans 'Change password' %}"><i class="zmdi zmdi-lock"></i> {% trans 'Change password' %}</a>
                  {% endif %}
                </div>
            </li>
            {% block sidebar %}{% endblock %}
          </ul>
        </div>
      </aside>

      <section class="content home">
        <div class="block-header">
          <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
              {% block pretitle %}{% endblock %}
              {% block content_title %}{% if title %}<h2>{{ title }}</h2>{% endif %}{% endblock %}
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
              <ul class="breadcrumb float-md-right">
                {% block breadcrumbs %}
                  <li class="breadcrumb-item">
                    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
                    {% if title %} &rsaquo; {{ title }}{% endif %}
                  </li>
                {% endblock %}
              </ul>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          {% block messages %}
            {% if messages %}
            {% for message in messages %}
              <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message|capfirst }}</div>
            {% endfor %}
            {% endif %}
          {% endblock messages %}

          <div id="content" class="{% block coltype %}colM{% endblock %}">
            {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
            {% endblock %}
            <br class="clear">
          </div>
        </div>
      </section>
    {% endif %}

    {% block footer %}<div id="footer"></div>{% endblock %}

  {% else %}
    <div class="authentication sidebar-collapse">
    <div class="page-header">
      <div class="container">
        <div class="col-md-12 content-center">
          {% block authentication %}
            {% if user.is_authenticated %}
            {% else %}
              <meta http-equiv="REFRESH" content="0;url={% url 'admin:login' %}">
            {% endif %}
          {% endblock %}
        </div>
      </div>
    </div>
    </div>
  {% endif %}
</div>
<!-- END Container -->
<script type="text/javascript" src="{% static "admin/bundles/libscripts.bundle.js" %}"></script>
<script type="text/javascript" src="{% static "admin/bundles/vendorscripts.bundle.js" %}"></script>

<script type="text/javascript" src="{% static "admin/bundles/mainscripts.bundle.js" %}"></script>
</body>
</html>